@font-face {
    font-family: vazir;
    src: url(./Vazir-Medium.ttf);
}

html body{
    width: 100%;
    height: 500%;
    font-size: 16px ;
    animation-name: upload;
    animation-duration: 1.7s;
}

*{
    font-family: vazir;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* overflow: scroll; */
}

.container{
    width: 100%;
    max-height: 100%;
    height: 100%;
}

button{position: relative;
box-shadow: #d1d1d1 0px 4px 0px 0px;
background-repeat: no-repeat;
cursor: pointer;
transition: all 0.3s ease-in-out;
z-index: 1;
overflow: hidden;
}

button::before {
content: "";
background-color: #14995B;
width: 0;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: width 700ms ease-in-out;
display: inline-block;
}

button:hover::before {
width: 100%;
}

@keyframes upload {
    from {opacity: .2 ; background-color: #4eff9b; }
    to {opacity: 1 ; background-color: none;}
}

  /* header */

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 1rem;
}

nav .navbar-item{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(228, 228, 228);
    border-top: 1px solid rgb(228, 228, 228);
}

.navbar-item >img{
    width: 200px;
}

.navbar-item > ul{
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.navbar-item .fa-list{
    margin-bottom: 1rem;
    display: none;
    font-size: 2rem;
    color: #14995B;
    position: absolute;
    right: 5%;
    top: 20%;
}

.navbar-item .fa-times{
    display: none;
    color: red;
    font-size: 2rem;
    margin: 1rem;
}

.navbar-item > ul a{
    font-size: 1rem;
    padding: 10px;
    transition: 0.4s;
    text-decoration: none;
    color: black;
}

.navbar-item > ul li a:hover{
    cursor: pointer;
    background-color: #14995B;
    border-radius: 5px;
    color: white;
}


.said-menu ul{
    position: absolute;
    display: none;
    width: 14rem; 
    height: 9rem;
    text-align: center;
    padding: 10px;
    line-height:2.5rem;
    background-color: #ffffff; 
    /* border-radius: 1rem;  */
}

nav div > button{
    background-color: black;
    color: white;
    width: 9rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    font: 1.3rem;
}

/* main */

/* welcome */

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #12834F;
    color: white;
    line-height: 2.5rem;
    margin: 3rem 4rem 0 4rem;
    border-radius: 1rem;
}

.welcome h1{
    margin-bottom: 2.6rem;
    font-size: 3rem;
    font-weight: 900;
}

.welcome div > button{
    width: 15rem;
    height: 5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: white;
}

.welcome div > button:hover{
    color: white;
}

.welcome div > img{
    width: 450px;
    height: auto;
}

/* Program selection */

.program-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    line-height: 4rem;
    text-align: center;
}


.program-selection h1{
   font-size: 2.3rem;
}

.program-selection .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 3rem;
    gap: 3rem;
}

.card{
    border: 1px solid rgb(210, 210, 210); 
    border-radius: 2rem;
    text-align: center;
    width: 22rem;
    padding: 2rem;
    transition: 0.4s;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 3px 12px 5.5px #dddddd;
}

.program-selection .card > img{
    width: 250px;
}

/* abute-gym */
.abute-gym {
 display: grid;
 grid-template-columns: repeat(2,1fr);
 align-items: center;
 padding: 5rem;
 line-height: 2.3rem;
 color: #858585;
 margin-top: 3rem;
}

.abute-gym img{
    width: 450px;
}

.abute-gym div h1{
    color: black;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.abute-gym div button{
    margin-top: 4rem;
    width: 12rem;
    height: 3.5rem;
    float: left;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
}

.abute-gym div button:hover{
    color: white;
}

/* Article */

.Article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.Article h1{
    font-size: 2rem;
}

.Article .fa-window-minimize{
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #d1d1d1;

}

.Article-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    text-align: center;
}

.Article-cards .Article-card > img{
    width: 430px;
    height: 330px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 32px 21px #f1f1f1;
    padding: 2rem;
    border-radius: 1.5rem;
}

.Article-card h3{
    margin-top: 2rem;
    font-size: 1rem;
}

.Article-card > div {
    display:  flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}

.Article-card > div p{
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    font-size: 0.9rem;
    padding: 1.5rem;
}

.Article-card > div h4{
    padding: 1rem;
    background-color: #e1e1e1;
    border-radius: 50%;
    transition: 0.5s
}

.Article-card > div:hover h4{
    cursor: pointer;
    background-color: #14995B;
    color: white;
}

.Article  button{
    margin-top: 5rem;
    width: 12rem;
    height: 3.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: aquamarine;
}

.Article  button:hover{
    color: white;
}

/* footer */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7rem;
    gap: 4rem;
}

footer .fa-minus{
    font-size: 2rem;
    color: #12834F;
    margin-left: 0.5rem;
}

.item-one{
    background-color: #E7F8F0;
    padding: 2.5rem;
    width: 40%;
    border-radius: 2rem;
    line-height: 1.8rem;
}

.item-one h2{
     font-size: 2rem;
}

.item-one p{
    font-size: 0.8rem;
    color: #898989;
    margin-top: 2rem;
}




.item-two div{
    display: flex;
    flex-direction: row;
}

.item-two .foter-list{
/* display: grid;
grid-template-columns: repeat(2,1fr); */
gap: 3rem;
}

.item-two .foter-list > ul{    
 margin: 2rem 0;
}

.item-two .foter-list > ul li{
    font-size: 0.8rem;
    color: #646464;
    list-style: circle;
    margin-top: 0.5rem
}

.item-three{
    width: 20%;
}

.item-three div{
    display: flex;
    flex-direction: row;
}

.item-three p{
    font-size: 0.8rem;
    color: #646464;
    margin-top: 1rem;
}

.item-three .fa-phone{
    font-size: 1.4rem;
    margin-right: 1rem;
}

.footer-phone{
    margin-top: 2rem;
    color: #12834F;
    font-size: 1.3rem;
    font-weight: bold;
}
